body{
    background-color: white;
    padding-top: 50px; /* This should be equal to height of your header */
}

.banner_container{
    position: relative;
    text-align: center;
    color: white;
	z-index: -1;
}

/* Centered text on banner*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-style: italic;
    color: white;
}
.contents-under{
    padding-top: 5%;
}