<<<<<<< HEAD
img  {
=======
.items table{
    border: 1px;
}
.table_img {
>>>>>>> c0d5e656e691787eedd9cc8154e4cbc650cfd045
    width: 300px;
    height: 200px ;
    text-align: center;
    border-radius: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.servicetitle {
    font-weight: bold;
    font-size: xx-large;
    margin-left: 10%;
}

hr{
    margin-top: 40px;
    margin-bottom: 10px;
}

